:root {
  font-family: Georgia, 'Times New Roman', Times, serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --cursor-stroke: #5631e9;
	--cursor-fill: transparent;
	--cursor-stroke-width: 1px;

  --image-width: 450px;
	--image-height: 600px;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#tagLine {
  text-align: center;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  font-size: 6vh;
}

.slider__image--wrapper {
	position: absolute;
	left: 50%;
	top: 50%;
	width: var(--image-width);
	height: var(--image-height);
	transform: translate(-50%, -50%);
	overflow: hidden;
	z-index: 1;
	user-select: none;

	.slider__image {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		top: 0;
		height: 100%;
		display: none;
	}
}

/* TEST THIS */
/* h1 {
  font-size: clamp(2.25rem,6vw,4rem);
} */

/* p {
  word-spacing: 1.245rem;
} */

.nav-header {
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  padding: 2rem 0rem;
  z-index: 2;
  position: relative;
  background: #222222;
}

.nav-header ul li {
  display: inline-block;
  font-size: 1.4em;
  letter-spacing: 2px;
  margin-right: 0.5rem;
}

.nav-header ul li a {
  position: relative;
  cursor: pointer;
  text-decoration: none;
  margin-left: auto;
  color: rgba(255, 255, 255, 0.87);
}

canvas {
  display: block;
}

#container {
  width: 100vw;
  height: 100vh;
}

footer {
  position: relative;
  color: black;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.is-active {
  a {
    font-weight: bolder;
    font-size: 40px;
  }
}

button#testScene {
  text-align: center;
  width: 100px;
  height: 30px;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-70%, -50%);
}

/* Hidden class for initial load of cursors */
.hidden {
  .cursor {
    display: none;
  }
}

.stop-scroll {
  body {
    overflow-x: hidden;
  }
}

/* New Preloader styling */

.splash__screen {
position: fixed;
top: 0;
left: 0;
width: 100vw;
height: 100%;
z-index: 1000;
}

.splash__screen.complete {
pointer-events: none;
}

.left {
position: absolute;
left: 0;
top: 0;
width: 50%;
height: 100%;
background-color: #161616;
border-right: 1px solid #161616;
transition: transform 1s;
}

.left.active {
transform: translateX(-100%);
border-right: 1px solid #ffffff;
}

.right {
position: absolute;
left: 50%;
top: 0;
width: 50%;
height: 100%;
background-color: #161616;
border-left: 1px solid #161616;
transition: transform 1s;
}

.right.active {
transform: translateX(100%);
border-left: 1px solid #ffffff;
}

.progress__bar {
position: absolute;
bottom: 0;
left: 50%;
transform: translateX(-50%);
width: 1px;
height: 0%;
background-color: white;

transition: height 1s;
}

.progress__bar.complete {
opacity: 0;
}

.percentage {
position: absolute;
padding-top: 100%;
bottom: 0;
left: 1rem;
color: white;
}


/* Preloader styling  */
.loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

#loader {
  display: block;
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: linear-gradient(45deg, transparent, transparent 40%, #e5f403);
  animation: animate 2s linear infinite;
  transition: opacity 0.5s ease;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
    filter: hue-rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    filter: hue-rotate(360deg);
  }
}

#loader::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 6px;
  right: 6px;
  bottom: 6px;
  background: #000;
  border-radius: 50%;
  z-index: 1000;
}

#loader::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: linear-gradient(45deg, transparent, transparent 40%, #e5f403);
  border-radius: 50%;
  z-index: 1000; 
  filter: blur(30px);
}

.loader-finish {
  opacity: 0;
  pointer-events: none;
} 

.cursor {
	display: none;
}

.rock {
  font-size: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
}

// Menu styling
.menu-toggle {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 30px;
  height: 10px;
  justify-content: space-around;
  cursor: pointer;
  transition: 0.5s;
  transform: center;
}

.menu-toggle span {
  height: 2px;
  background-color: rgb(255, 255, 255);
  transform-origin: center;
  transition: 0.2s;
}

.menu-toggle span:nth-child(1) {
  width: 100%;
}

.menu-toggle span:nth-child(2) {
  width: 80%;
}

.menu-toggle.active span {
  position: absolute;
  left: 0%;
  width: 100%;
}

.menu-toggle.active span:nth-child(1) {
  top: 40%;
  transform: rotate(45deg);
}

.menu-toggle.active span:nth-child(2) {
  bottom: 40%;
  transform: rotate(-45deg);
}

.wrapper {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
}

.wrapper > .transition {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.menu__ul {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  // top: -5vh;
  z-index: 2;
  opacity: 0;
  transition: 0.5s;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  pointer-events: none;
  li {
    list-style-type: none;
    color: white;
  }
  li a {
    text-decoration: none;
  }
}

.menu__ul.active {
  opacity: 1;
  pointer-events: all;
}

.menu__ul li:hover {
  cursor: pointer;
  opacity: 0.7;
}


@media (any-pointer: fine) {
	.cursor {
		position: fixed;
		top: 0;
		left: 0;
		display: block;
		pointer-events: none;
		mix-blend-mode: difference;
		z-index: 100;

		&--large .cursor__inner {
			fill: var(--cursor-fill);
			stroke: var(--cursor-stroke);
			stroke-width: var(--cursor-stroke-width);
			opacity: 0.7;
		}
		&--small .cursor__inner {
			fill: var(--cursor-stroke);
			stroke: var(--cursor-fill);
			opacity: 0.7;
		}

		&--close {
			fill: none;
			stroke: var(--cursor-stroke);
			stroke-linecap: round;
			stroke-linejoin: round;
			stroke-width: 32px;
			mix-blend-mode: difference;
		}
	}
}
